@model MCLScholarWeb.Models.Entity.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}




<div class="modal-dialog">
    <div class="modal-content page-header">
        <div class="modal-heading pt-4 pb-2">
            <img src='~/Content/Images/mcllogo.png' class='mx-auto d-block'>
        </div>
        <div class="modal-body px-5  ">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Enter your email</h4>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Email Link" />
                        <input type="button" value="Back" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" class="btn btn-default col-3">

                    </div>
                </div>
            }


            @*@<div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </  div>*@
        </div>
    </div>
</div>








