@model IEnumerable<MCLScholarWeb.Models.Entity.AdminAuditLog>

@{
    ViewBag.Title = "Audit Log";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row my-2 p-2">
    <h4 class="display-4 mt-4 mb-3">Audit Log</h4>
</div>
<div class="p-3" id="">

    <div class="card rounded border p-3" id="" width="100%">
        <table class="table display dt-responsive" id="Data">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Event)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event)
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>

    <script>
        $(document).ready(function () {
            $('#Data').DataTable();
        });
    </script>
